* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea {
	border: 0;
	background: none;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

:root {
	--spacing: 0.25rem;
}

// ::-webkit-scrollbar {
// 	display: none;
// }

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-thumb {
	background: #575757;
	border-radius: 100px;
	border: 5px solid #1e1e1e;
}

::-webkit-scrollbar-track {
	background: #1e1e1e;
}

html {
	font-size: 16px;
}

body {
	color: #fff;
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	background-color: #171516;
}

.container {
	width: calc(100% - 24px);
	margin: 0 auto;
	max-width: 1280px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	padding-inline: calc(0.25rem * 3);
	width: calc(0.25rem * 56);
	background-color: #141415;
	border-color: color-mix(in oklab, #fff 10%, transparent);
	border-right-style: solid;
	border-right-width: 1px;
	height: 100vh;
}

.logo {
	width: 198px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		width: 111px;
		path {
			fill: #03ff75;
		}
	}
}

.menu {
	display: flex;
	flex-direction: column;
	gap: calc(0.25rem * 1);
	li {
		&:first-child {
			a {
				border-radius: 0.375rem;
				background-color: color-mix(in oklab, #fff 10%, transparent);
				svg {
					path {
						fill: #03ff75;
					}
				}
				&:after {
					content: "";
					width: calc(0.25rem * 0.5);
					height: calc(0.25rem * 5);
					position: absolute;
					background-color: #fff;
					left: -12px;
				}
			}
		}
		&:nth-child(3) {
			a {
				font-size: 0.75rem;
				color: oklch(70.8% 0 0);
				padding: 0;
				align-items: flex-end;
				height: 16px;
				margin-top: calc(0.25rem * 4);
			}
		}
		&:nth-child(10) {
			background-color: oklch(26.9% 0 0);
			height: 1px;
			margin: calc(0.25rem * 4) 0;
		}
		&:last-child {
			svg {
				path {
					fill: color-mix(in oklab, #fff 50%, transparent);
				}
			}
		}
		a {
			position: relative;
			height: 40px;
			font-size: 0.875rem;
			padding: 0 calc(0.25rem * 2.5);
			display: flex;
			align-items: center;
			gap: calc(0.25rem * 2);
			svg {
				width: 20px;
				min-width: 20px;
				height: 20px;
			}
		}
	}
}

.wrap {
	margin-left: calc(0.25rem * 56);
}

header {
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 99;
	padding: 0 calc(0.25rem * 4);
	height: 56px;
	background-color: #141415;
	border-color: color-mix(in oklab, #fff 10%, transparent);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	justify-content: space-between;
	.header__logo {
		display: none;
	}
}

.header__btns {
	margin-left: auto;
	display: flex;
	gap: calc(var(--spacing) * 2);
	a {
		font-size: 13px;
		font-weight: 600;
		padding-block: calc(var(--spacing) * 2);
		padding-inline: calc(var(--spacing) * 3);
		border-radius: 3.40282e38px;
		background: #343434;
		&:nth-child(2) {
			background: #00cf55;
			color: oklch(26.6% 0.065 152.934);
		}
	}
}

.banner {
	height: 400px;
	position: relative;
	display: flex;
	align-items: center;
}

.banner__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.banner__content {
	position: relative;
	width: 576px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		&:nth-child(1) {
			font-size: 1.5rem;
			color: oklch(70.8% 0 0);
			font-weight: 600;
		}
		&:nth-child(2) {
			font-size: 3rem;
			font-weight: 700;
			color: #faf9f6;
			line-height: 1;
			margin-top: calc(var(--spacing) * 3);
		}
	}
	a {
		color: oklch(26.6% 0.065 152.934);
		font-weight: 600;
		padding-block: calc(var(--spacing) * 2.5);
		padding-inline: calc(var(--spacing) * 8);
		background-color: oklch(72.3% 0.219 149.579);
		border-radius: 3.40282e38px;
		margin-top: calc(var(--spacing) * 6);
	}
}

.top__list {
	display: flex;
	align-items: center;
	overflow-x: auto;
	justify-content: space-between;
	gap: calc(var(--spacing) * 4);
	li {
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 112px;
			height: 112px;
		}
	}
}

.cards {
	margin-top: calc(var(--spacing) * 6);
}

.cards__title {
	font-size: 1.25rem;
	font-weight: 800;
}

.cards__list {
	grid-template-columns: repeat(8, 1fr);
	display: grid;
	margin-top: calc(var(--spacing) * 6);
	gap: calc(var(--spacing) * 4);
	&:last-child {
		margin-top: calc(var(--spacing) * 4);
	}
}

.cards__item {
	aspect-ratio: 150/195;
	position: relative;
	padding: calc(var(--spacing) * 2);
	border-radius: 0.5rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&::before {
		background: linear-gradient(
			0deg,
			rgb(23, 23, 23) 10%,
			rgba(0, 0, 0, 0) 60%
		);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		content: "";
		z-index: 1;
	}
}

.cards__item__text {
	margin-top: auto;
	position: relative;
	z-index: 2;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--spacing) * 0.5);

	p {
		font-size: 0.875rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		line-height: 1.2;
		&:nth-child(2) {
			color: oklch(70.8% 0 0);
			font-size: 11px;
		}
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 40px 0px;
}

.content__item {
	font-size: 18px;
	line-height: 1.5;
	h1,
	h2,
	h3,
	h4 {
		font-weight: 900;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 27px;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	p,
	.content__table,
	ul,
	ol {
		margin-bottom: 20px;
	}
	ol,
	ul {
		padding-left: 50px;
		list-style: auto;
		display: flex;
		flex-direction: column;
		gap: 15px;
		p {
			margin-bottom: 15px;
		}
	}
	ul {
		list-style: disc;
	}

	h3,
	ol,
	p,
	.content__table,
	ul {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.faq {
		.faq__item {
			margin-bottom: 25px;
			p,
			ol,
			ul,
			.content__table {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			p {
				&:first-child {
					margin-bottom: 15px;
					font-size: 25px;
					font-weight: 900;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.content__table {
	table {
		border-collapse: collapse;
	}
	td {
		padding: 12px;
		border: 1px solid #fff;
		text-align: left;
		vertical-align: top;
	}
	tr {
		&:first-child {
			td {
				text-align: center;
				font-weight: 900;
			}
		}
	}
}

.table--left-bold {
	td {
		&:first-child {
			font-weight: 900;
		}
	}
}

footer {
	margin-top: calc(var(--spacing) * 20);
	padding-block: calc(var(--spacing) * 12);
	background-color: oklch(14.5% 0 0);
}

.footer__top {
	display: flex;
	gap: calc(var(--spacing) * 16);
	align-items: flex-start;
}

.footer__top__left {
	width: 608px;
	display: flex;
	flex-direction: column;
	svg {
		width: 64px;
		height: 32px;
	}
	p {
		color: oklch(70.8% 0 0);
		font-size: 0.875rem;
		margin-top: calc(var(--spacing) * 4);
	}
}

.footer__top__right {
	width: 608px;
	p {
		font-size: 1.125rem;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: calc(var(--spacing) * 2);
		margin-top: calc(var(--spacing) * 2);
		li {
			font-size: 0.875rem;
			color: color-mix(in oklab, #fff 75%, transparent);
		}
	}
}

.footer__bottom {
	margin-top: calc(var(--spacing) * 8);
	display: flex;
	align-items: center;
	gap: calc(var(--spacing) * 8);
	div {
		font-size: 0.75rem;
		width: calc(var(--spacing) * 8);
		height: calc(var(--spacing) * 8);
		opacity: 0.7;
		display: flex;
		align-items: center;
		border: 2px solid #fff;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
	img {
		height: 32px;
		width: auto;
		opacity: 0.7;
	}
}

.mobile-menu {
	display: none;
}

@media (max-width: 1919px) {
	.banner__content {
		margin-left: 50px;
	}
	.sidebar {
		overflow-y: auto;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			display: none;
		}
	}
	.top__list {
		gap: calc(var(--spacing) * 2);

		&::-webkit-scrollbar {
			display: none;
		}
	}
	.top__list li svg {
		width: 104px;
		height: 104px;
	}
}

@media (max-width: 1100px) {
	.sidebar {
		display: none;
	}
	.wrap {
		margin-left: 0;
	}
	.cards__list {
		grid-template-columns: repeat(4, 1fr);
	}
	header .header__logo {
		display: flex;
		width: 111px;
		height: 18px;
	}
}

@media (max-width: 767px) {
	header {
		padding: 0 calc(var(--spacing) * 2);
	}
	.header__btns a {
		font-size: 0.75rem;
	}
	.banner {
		height: 550px;
		align-items: flex-end;
	}
	.banner__content {
		margin-left: 0px;
		width: 100%;
		padding-bottom: calc(var(--spacing) * 8);
		padding-inline: calc(var(--spacing) * 3);
	}
	.banner__content p:nth-child(2) {
		font-size: 1.875rem;
		line-height: 1.2;
	}
	.top__list li svg {
		width: 96px;
		height: 96px;
	}
	.cards {
		margin-top: calc(var(--spacing) * 3);
	}
	.cards__title {
		font-size: 1.125rem;
	}
	.cards__list {
		display: flex;
		gap: calc(var(--spacing) * 2);
		overflow-x: auto;
		width: calc(100% + 12px);
		padding-right: 12px;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.cards__item {
		width: 31%;
		min-width: 31%;
	}
	.content__item ol,
	.content__item ul {
		padding-left: 30px;
	}
	.content__table {
		overflow-x: auto;
		width: calc(100% + 12px);
		padding-right: 12px;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.footer__top {
		flex-direction: column;
		gap: calc(var(--spacing) * 8);
	}
	.footer__top__left {
		width: 100%;
	}
	.footer__top__right {
		width: 100%;
		ul {
			display: flex;
			flex-wrap: wrap;
		}
	}
	footer {
		margin-top: calc(var(--spacing) * 10);
	}
	.mobile-menu {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 58px;
		box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
			0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
		background-color: #141415;
		border-color: color-mix(in oklab, #fff 10%, transparent);
		border-top-style: solid;
		border-top-width: 1px;
		z-index: 99;
		li {
			height: 100%;
			&:nth-child(1) {
				a {
					svg {
						path {
							fill: #03ff75;
						}
					}
				}
			}
			&:nth-child(3) {
				a {
					svg {
						path {
							fill: transparent;
							stroke: #fff;
						}
					}
				}
			}
		}
		a {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: calc(var(--spacing) * 0.5);
			color: color-mix(in oklab, #fff 75%, transparent);
			font-size: 0.75rem;
			svg {
				width: 20px;
				height: 20px;
				path {
					fill: #fff;
				}
			}
		}
	}
}
